@use "../abstracts/variables" as *;

.container {
  display: grid;
  grid-template-rows: 0.6 6fr 3fr;
  grid-template-columns: 0.8fr 2fr 0.8fr;
}
.header {
  grid-row: 1/2;
  grid-column: 1/5;
}
.hero {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9em;
  align-items: center;
  padding-block: 1em;
  &__heading {
    font-family: $ff-Fraunces;
    font-weight: 900;
    color: $White;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 10px;
  }
  img {
    width: 35px;
    height: 115px;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  & > * {
    min-height: 580px;
  }
}

.testimonials {
  display: grid;
  grid-template-rows: 50px 100%;
  grid-template-columns: repeat(3, 1fr);
  min-height: 32em;
  &__header {
    display: grid;
    grid-column: 1/4;
    place-items: center;
  }
}

.photos {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1100px) {
  .main {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    &__col-2_row-1 {
      grid-row: 1/2;
    }
  }
  .testimonials {
    display: block;
  }
  .photos {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
